 .header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 4Px 0 0 0;
}
.list__item{
    margin: 0 9px;
    position: relative;
    min-height: 2.6rem;
 
}
.list__item--no-Hover{
    color: var(--white-color);
    cursor: text;
}
.list__item:hover,
.list__item-link:hover,
.list__item-icon--link:hover{
    color: rgba(225,225,225,0.7);
    cursor: pointer;
}
.list__item:nth-child(3),
.list__item:nth-child(4){
    font-weight: 450;
}
.list__item,
.list__item-link{
 font-size: 1.3rem;
 color: var(--white-color);
 text-decoration: none;
 font-weight: 300;
}
.list__item-link i{
    margin-right: 3px;
}
.list__item,
.list__item-link,
.list__item-icon--link{
    display: flex;
    align-items: center;
}
/* Tạo dấu gạch phân cách */
.list__item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 1.6rem;
    /*-- Cách 1: --*/
    border: 0.1rem solid var(--white-color);
    opacity: 0.4;
    top: 0;
    /* Margin trái (vào cửa hàng, Đăng ký) & phải(Kết nối, đăng nhập)  : 0.8rem(trái) +0.8rem (phải)= 1.6rem. Nên mún dấu gạch cách giữa 2 chữ thì nó bằng -1/2*1.6rem */
    /* right bởi vì cần đặt dấu bên phải 2 element có chứa class list__item--separate (Vào cửa hàng, đăng ký) */
     right: -0.8rem; 

    /*--- Cách 2: --*/
    /* border-left: 0.1rem solid #fb9086;
    right:-0.9rem;
    top: 50%;
    transform: translateY(-50%); */
}
.list__item-icon--link{
    color: var(--white-color);
    text-decoration: none;
}
.list__item-icon--link:nth-child(2){
    margin-left: 3px;
}

.navbar__icon{
    font-size: 1.8rem;
    margin: 0 0.4rem;
}
/* Navbar info user */
.list__item-info-user{
    position: relative;
}
.list__item-info-user:hover .list__item-user-menu{
    display: block;
}
.user_img{
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0,0,0,0.1    );
    border-radius: 50%;
}
.user_name{
    margin-left: 3px;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;

}
.user_name:hover{
    
    color: rgba(225,225,225,0.5);

}
.list__item-user-menu{
    position: absolute;
    top:calc(100% + 6px);
    right: 0;
    z-index: 1;
    padding-left: 0;
    list-style: none;
    background: var(--white-color);
    width: 160px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
/* Làm mũi tên cho user-menu */
.list__item-user-menu::before{
    content: "";
    position: absolute;
    border-width: 2rem 2.7rem;
    top: 100%;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -22%;
    right: 12px;
    z-index: -1;
}
/* Che khoản hở */
.list__item-user-menu::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    /* background-color: #3a5a98; */
    top: -7%;
}
.user-menu--seperate{
    border-top: 1px solid #0000000d;
}
.user-menu-title:hover{
    background-color: #fafafa;
}
.user-menu-title a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 16px;
    font-weight: 300;
    display: block;
}


/* HEader QR CODE */
.list__item--show-qr:hover .navbar__qr-code{
    display: block ;
    justify-content: center;
    align-items: center;
}
.navbar__qr-code{
    width: 18.6rem;
    background-color: var(--white-color);
    position: absolute;
    left: 0;

    /* --> TẠO SỰ CÂN ĐỐI. Tự điều chỉnh sao cho khoản cách từ "Vào cửa hàng..." đến qr_Code = từ trên header tới "Vào cửa hàng..." */
    top: 118%;/* Điều chỉnh top bằng % để hạn chế việc khi điều chỉnh kích thước của "Vào cửa hàng..." thì qr_code sẽ không bị dính vào. 
    Tuy nhiên sẽ xảy ra 1 hiện tượng lỗi. XEM => */
   
    padding: 8px;
    border-radius: 0.2rem;
    display: none;
    animation: fadeIn ease-in 0.5s;
}
/* => Điều chỉnh TOP thêm thì khi hover từ chữ "Vào cửa hàng..." xuống qr code sẽ có 1 khoản hở. Di chuột qua vùng đó sẽ ẩn lun qr_code. 
     Nên cách giải quyết như sau: */

/****** TẠO BLOCK CHE KHOẢN HỞ TỪ CHỮ ĐẾN QR_CODE ******/
.navbar__qr-code::before{
    position: absolute;
    content: "";
    /* Cho độ dài block bằng chính thẻ qr_code */
    width: 100%;
    height: 25px;
    /* background-color:violet; */
    /*** ---> Che khoản hở từ chữ đến qr_code <---- ***/
    top: -1rem;
    left: 0;
    display: block;
}
.item_qr-code{
    width: 100%;
}
.item__app{
    display: flex;
    justify-content: space-between;
}
.item__img--dowload{
    height: 15px;
}
 .item__img-gg{
    margin-left:11px;
 }
 .item__img-aaps{
    margin-right:11px;
 }

/* List Notify - Animation Notify  */
.item-link--notify:hover .list__item-notify{
    display: block;
}
.list__item-notify{
    z-index: 1;
    position: absolute;
    width: 40.4rem;
    top: 118%;
    right: 0;
    background-color:var(--white-color);
    border: 0.1rem solid rgba(0, 0, 0,0.1) ;
    border-radius: 2px;
    transform-origin: calc(100% - 3.2rem) top;  /* Tạo di chuyển từ góc trên xuống dưới */
    animation: notify ease-in 0.25s;
    will-change: opacity transform;  /* Tối ưu hóa chuyển động */
    display: none;

}
/* Làm mũi tên lên trên cho notify */
.list__item-notify::before{
    content: "";
    border-width: 2rem 2.7rem;
    border-style: solid;
    /* Chỉnh màu cho border transparent (trong suốt ) trên phải trái. Chỉ phía dưới có màu */
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1rem;
    top: -2.8rem;
}
/* Làm cầu nối cho chữ thông báo đến notify */
.list__item-notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 9.4rem;
    height: 1.8rem;
    top: -1.5rem;
    right: 0;
    /* background-color: violet; */
}
@keyframes notify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.notify__header{
    height: 4.0rem;
    background-color: var(--white-color);
    cursor: default;

}
.notify__header h3{
    /* color: rgb(153 153 153); */
    color: darkgoldenrod;
    margin: 0 0 0 1.2rem;
    line-height: 4.0rem;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;

}
.notify__list{
    list-style-type: none;
    padding-left: 0;
}


.notify__item:hover{
    background-color: #6a68680d;
}
.notify__item--viewed{
    background-color: rgb(238, 77, 43,0.1);
}
.notify__item--link{
    display: flex;
    /* width: 100%; */
    Padding:1.2rem;
    text-decoration:none;
 
}

.notify__img{
    width: 48px;
    object-fit: contain; 
    /* Object-fit: thuộc tính căn chỉnh thay đổi kích thước của ảnh vừa với khoảng trống chứa nó */
}

.notify__info{
    margin-left: 12Px;
}

.notify__name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.notify__description{
    display: block;
    font-size: 1.2rem;
    color: rgb(117 111 110);
    margin-top: 0.4rem;
  
}
/* .notify__footer{
    display: flex;
} */
.notify__footer-btn{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    display: block;
    text-align: center;
    padding: 0.8rem 4.8rem;
}
/* Căn giữa Xem tất cả
    C1: .notify__footer: display:flex
    C2 .notify__footer-btn: display: block; text-align:center
*/
/* Authen Modal */

.auth-form__container{
    padding: 0 3.2rem;
}
.auth-form{
    overflow: hidden;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 0.5rem;
}
.auth__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0 12px;
}

.auth__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;

}

.auth-form__group input{
    width: 100%;
    height: 4.0rem;
    margin-top: 1.6rem;
    padding: 0 1.2rem ;
    font-size: 1.4rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
    outline: none;
}
.auth-form__group input:focus{
    border-color: #888 ;
}
.auth-form__aside{
    margin-top: 1.8rem;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 2.0rem;
    text-align: center;
    padding: 0 1.2rem;
}
.auth-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;

}
.auth-form__control{
    margin-top: 8.0rem;
    display: flex;
    justify-content: flex-end ;
}
.margin-right{
  margin-right: 0.8rem;
}
.auth-form__socials{
    background-color: #ccc;
    padding: 1.6rem 3.6rem;
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form__socials-title{
    margin: 0 3.6rem;
}
.socials__icon{
    font-size: 2.0rem;
}
.socials__icon--fb{
    color: var(--white-color);
    background-color: #3a5a98;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__helplink{
    margin-top: 2Px;
    font-size: 1.4rem;
    text-decoration: none;
}
.auth-form__helplink:first-child{
    color: var(--primary-color);
}
.auth-form__helplink:last-child{
    color: #939393;
}
.auth-form__helplink--seperate{
    display: block;
    margin:  0 16px ;
    height: 22Px;
    border-left: 1Px solid #Eaeaea;
}
/* Header with search */
.header__with-search{
    height: var( --header__with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__logo-img{
    width: 150Px;

}
.header__search{
    flex: 1;
    border-radius: 2px;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
    cursor: pointer;
 
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12Px;
    
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    background-color: red;
    top: calc(100% + 8px);
    right: -5Px;
    background-color: var(--white-color);
    width: 410Px;
    border-radius: 3Px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0,0.2);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
}
.header__cart-list::after{
    content: "";
    position:absolute;
    top: -30px;
    right: 4Px;
    border-width: 20Px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list-img{
    width: 54%;
    display: none;
}
.header__cart-list--no-item{
    padding: 24Px 0;
}
.header__cart-list--no-item .header__cart-list-img,
.header__cart-list--no-item .header__cart-list--no-item-mgs{
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.header__cart-list--no-item-mgs{
    display: none;
    font-size: 1.6rem;
    margin-top: 18Px;
    color: var(--text-color);
}
.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    right: -4Px;
    top: -4px;
    border: 2px solid #EE4D2D;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 6px;
}
/* cart-list-item */
.header__cart-heading{
    text-align: left;
    margin:8px 0 8px 12px ;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;

}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 45px;
    height: 45px;
    margin: 12px ;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
}
.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}
.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}
.header__cart-item-quantity{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
   
}
.header__cart-item-description{
    color:#757575; 
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
/* Search History */
.header__search-wrap{
    flex: 1;
    height: 100%;
    position: relative;

}
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc( 100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #9999;
    display: none;
    overflow: hidden;
}
.search-history__heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.search-history__list{
    padding-left:0 ;
    list-style: none;
    margin: 6px 0 0;
}
.search-history__list-item{
    height: 38px;
    padding:0 12px;
}

.search-history__list-item:hover{
    background-color: #fafafa;
}
.search-history__list-item a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 38px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search-input */
.header__search-input{
    height: 100%;
    border: none;
    outline: None;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    height: 100%;
    border-left: 1Px solid #e8e8e8;
    padding-left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}   
.header__search-select-icon{
    font-size: 1.4rem;
    color: #727171;
    margin: 0 8Px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    height: 36px;
    width: 60px;
    border: none;
    border-radius: 2Px;
    margin-right: 3px;
}
.header__search-btn-icon{
    font-size: 1.2rem;
    color: var(--white-color);
    outline: none;

}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - 7px);
    width: 120Px;
    list-style-type: none;
    box-shadow: 0 1px 2px #ccc ;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-option::after{
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius:  3px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 7px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:  12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
 
/* APP Container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heaing{
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    margin-top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc81;
}   
.category__heaing-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category__list{
    padding: 0 0 8px 0 ;
    list-style-type: none;
    margin-left: 5Px;
}
.category-item--active{

}
.category-item__link{
    padding: 8px 16px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    /* Tạo chuyển động qua phải */
    position: relative;
    right: 0; 
    /* Vị trí ban đầu */
    transition: right linear 0.2s ;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
.category-item--active .category-item__link{
    color: var(--primary-color);
    right: -4px;
}
.category-item--active .category-item__link::before{
    content: "";
    left: 4%;
    Top: 50%;
    transform: translateY(calc(-50% - 1px));
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

/* Home sort+filter */
.home-filter{
    padding: 12px 22px;
    border-radius: 2px;
    display: flex;
    background-color: #EBEBEB;
    align-items: center;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__label{
    font-size: 1.4rem;
    margin-right: 14px;
}
.home-filter__page{
    display: flex;
    align-items: center;
}
.select-input{
 

}
.select-input__lable{

}
.select-input__icon{
   
}